.task-container {
  padding-right: 20px;
  max-width: 100%;
  margin: 8px 0;
  color: white;
  background-color: gray;
  border-radius: 10px;
  display: flex;
  align-items: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.2s ease-in;
}

.task-container:hover {
  background-color: #444;
}

.task-tittle {
  cursor: pointer;
  flex: 1;
  padding: 15px 20px;
}

.task-buttons {
  margin-left: 10px;
}

.task-buttons button {
  background: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: aqua;
}

.task-buttons button:hover {
  color: rgba(0, 255, 255, 0.37);
}

.task-buttons button + button {
  margin-left: 5px;
}
