.container {
  max-width: 500px;
  padding: 30px;
  border-radius: 10px;
  border: 1px solid aqua;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  max-height: 80vh;
}
.container::-webkit-scrollbar {
  width: 10px;
  max-height: 100%;
  background-color: #444;
  border-radius: 10px;
}
.container::-webkit-scrollbar-thumb {
  background-color: aqua;
  border-radius: 10px;
}
